---

---
<section class="grid md:grid-cols-3 gap-4 p-4 pt-0">
    <article class="border p-4 mb-2">
        <h4 class="text-2xl mb-2">¿Ques es un influencer y cuál es su función?</h4>
        <p class="text-gray-600">Conoce cómo un influencer puede ayudar a que tu empresa tenga mejor comunicación, !te
            damos...</p>
    </article>
    <article class="border p-4 mb-2">
        <h4 class="text-2xl mb-2">¿Ques es un influencer y cuál es su función?</h4>
        <p class="text-gray-600">Conoce cómo un influencer puede ayudar a que tu empresa tenga mejor comunicación, !te
            damos...</p>
    </article>
    <article class="border p-4 mb-2">
        <h4 class="text-2xl mb-2">¿Ques es un influencer y cuál es su función?</h4>
        <p class="text-gray-600">Conoce cómo un influencer puede ayudar a que tu empresa tenga mejor comunicación, !te
            damos...</p>
    </article>
</section>