---

---
<main class="bg-primary-color text-white h-[90vh] rounded-b-3xl flex flex-col justify-between p-4">
    <a href="#" class="text-4xl">ezerdev</a>
    <div class="flex flex-col items-center">
        <h2 class="text-2xl text-center mb-4">"Potenciando tu presencia, maximizando tu impacto"</h2>
        <a href="#" class="px-10 py-3 bg-white text-primary-color rounded-full hover:bg-gray-200">Iniciar Proyecto</a>
    </div>
    <h4 class="text-end text-8xl pb-10">ed</h4>
</main>