---

---
<h2 class="text-2xl font-semibold uppercase text-center">LO QUE DICEN NUESTROS CLIENTES</h2>
<section class="grid md:grid-cols-3 gap-4 p-4">
    <article class="p-4 border border-gray-200 shadow-lg mb-2">
        <p>El servicio de ezerdev es EXCELENTE, en un trabajo integral de campañas off y online con puntualidad y
            diligencia. siempre buscan pensar fuera de la caja en un campo tan dificil como marketing inmobiliario</p>
        <div class="flex justify-between p-2">
            <img src="/images/photo-profile.png" class="w-16 h-16 object-cover rounded-full" alt="img"/>
            <div class="p-0 ml-2">
                <span class="block font-semibold">Jesus retama</span>
                <span class="text-gray-600">Director de mercadotecnica inmobiliaria desarrollos</span>
            </div>
        </div>
    </article>
    <article class="p-4 border border-gray-200 shadow-lg mb-2">
        <p>El servicio de ezerdev es EXCELENTE, en un trabajo integral de campañas off y online con puntualidad y
            diligencia. siempre buscan pensar fuera de la caja en un campo tan dificil como marketing inmobiliario</p>
        <div class="flex justify-between p-2">
            <img src="/images/photo-profile.png" class="w-16 h-16 object-cover rounded-full" alt="img"/>
            <div class="p-0 ml-2">
                <span class="block font-semibold">Jesus retama</span>
                <span class="text-gray-600">Director de mercadotecnica inmobiliaria desarrollos</span>
            </div>
        </div>
    </article>
    <article class="p-4 border border-gray-200 shadow-lg">
        <p>El servicio de ezerdev es EXCELENTE, en un trabajo integral de campañas off y online con puntualidad y
            diligencia. siempre buscan pensar fuera de la caja en un campo tan dificil como marketing inmobiliario</p>
        <div class="flex justify-between p-2">
            <img src="/images/photo-profile.png" class="w-16 h-16 object-cover rounded-full" alt="img"/>
            <div class="p-0 ml-2">
                <span class="block font-semibold">Jesus retama</span>
                <span class="text-gray-600">Director de mercadotecnica inmobiliaria desarrollos</span>
            </div>
        </div>
    </article>
</section>