---

---
<section class="grid md:grid-cols-4 p-4">
    <h2 class="text-2xl font-semibold uppercase text-center">Servicios</h2>
    <div class="p-0 md:col-span-2">
        <article class="mb-2">
            <h4 class="font-semibold">01. BRANDING</h4>
            <p>Sabemos que una marca es mucho más que su imagen. Creamos historias, trazamos el camino para el
                nacimiento y
                la evolución de ideas y las aterrizamos en <strong>soluciones gráficas</strong> que capturan la <strong>atención
                    de la audiencia</strong>.</p>
            <a href="#">CONOCE MÁS</a>
        </article>
        <article class="mb-2">
            <h4 class="font-semibold">02. MARKETING</h4>
            <p>Nos enfocamos en crear <strong>valor para tus clientes</strong>, cultivar a la comunidad para las
                empresas y
                elevar su
                reconocimiento de marca a través de <strong>metodologías enfocadas a estrategias digitales</strong>,
                creación de contenido y
                campañas creativas.</p>
            <a href="#">CONOCE MÁS</a>
        </article>
        <article class="mb-2">
            <h4 class="font-semibold">03. WEB</h4>
            <p><strong>Creamos sitios web atractivos y funcionales</strong> combinando un moderno diseño de interfaz de
                usuario (UI) con una
                amigable experiencia de usuario (UX),optimizando su posicionamiento en Google.</p>
            <a href="#">CONOCE MÁS</a>
        </article>
        <article>
            <h4 class="font-semibold">04. SISTEMAS</h4>
            <p>Creamos sistemas atractivos y funcionales combiando varias tecnologias como java, node js, mongo DB,
                figma
                etc. con una experencia amigable para el usuraio optimizado en sus funciones.</p>
            <a href="#">CONOCE MÁS</a>
        </article>
    </div>
</section>