---

---
<article class="p-4 text-center">
    <h4 class="font-semibold text-center">EL EQUIPO</h4>
    <p class="mb-4">Somos una comunidad creativa llevando endorfinas a cada rincón del mundo. Creemos que las historias de éxito son
        un medio para alcanzar la felicidad y somos el medio que impulsa a marcas excepcionales a superar sus metas.
        Nuestro equipo está conformado por más de 50 creativos multidisciplinarios entre los 18 y 38 años, con un
        orgulloso 60% de mujeres.</p>
    <a href="#" class="px-4 py-2 border">Quiero ser parte de ezerdev</a>
</article>
