---

---
<div>
    <iframe src="https://www.youtube.com/embed/ImXt2i79VTc?si=9Vki5KUlV7TKq0XV&amp;start=3"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<style is:inline>
    div {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>