---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Services from "@/components/sections/Services.astro";
import Youtube from "@/components/sections/Youtube.astro";
---

<Layout title="ezerdev">
    <Hero/>
    <Projects/>
    <Services/>
    <Youtube/>
    <h1>Astro</h1>
</Layout>